[submodule "submodules/Contracts"]
	path = submodules/Contracts
	url = https://github.com/vinayjn/stock-contracts-ios.git
[submodule "submodules/swift-protobuf-lib"]
	path = submodules/swift-protobuf-lib
	url = https://github.com/apple/swift-protobuf.git
